C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/2be675d62cd9eb53/LEVEL.ipch
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/2d064dc62a187fcc/BRICK.ipch
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/3ba25aaf37ad186/BRICK.ipch
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/3e170136e86808a8/MAIN.ipch
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/43b67f90099f9658/GAMEOBJECT.ipch
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/477ed9cbe9da7f2b/LEVELDATA.ipch
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/4c89f4a80eb74031/RESSOURCELOADER.ipch
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/5c530363b5cc3f9e/RENDERTARGET.ipch
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/5e6146e424aab254/MAIN.ipch
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/7502d70cc9161703/PADDLE.ipch
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/827d375cfd5fc9d8/COMBOMETER.ipch
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/8302751bf0c06536/MAIN.ipch
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/84f12ec560350a66/COMBOMETER.ipch
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/93f5ede69c9e30eb/LIFE.ipch
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/99646bf57517b0a0/MENU.ipch
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/a4258d6d7a467d05/PADDLE.ipch
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/ac64f6f7ca02b3ee/BALL.ipch
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/ac836118e339fbf/SPRITE.ipch
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/ad50c8656ad9624b/RESSOURCELOADER.ipch
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/b5876620f474220b/RENDERTARGET.ipch
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/d3fdc451debebb06/MENU.ipch
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/df5666589fa147e1/LEVEL.ipch
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/f8372000425a2f2c/BALL.ipch
C++/BrickBreakCpp/BrickBreakCpp/Debug/Ball.obj
C++/BrickBreakCpp/BrickBreakCpp/Debug/Brick.obj
C++/BrickBreakCpp/BrickBreakCpp/Debug/BrickBreakCpp.exe.recipe
C++/BrickBreakCpp/BrickBreakCpp/Debug/BrickBreakCpp.log
C++/BrickBreakCpp/BrickBreakCpp/Debug/BrickBreakCpp.res
C++/BrickBreakCpp/BrickBreakCpp/Debug/BrickBreakCpp.vcxproj.CopyComplete
C++/BrickBreakCpp/BrickBreakCpp/Debug/BrickBreakCpp.vcxproj.FileListAbsolute.txt
C++/BrickBreakCpp/BrickBreakCpp/Debug/ComboMeter.obj
C++/BrickBreakCpp/BrickBreakCpp/Debug/GameObject.obj
C++/BrickBreakCpp/BrickBreakCpp/Debug/Level.obj
C++/BrickBreakCpp/BrickBreakCpp/Debug/LevelData.obj
C++/BrickBreakCpp/BrickBreakCpp/Debug/life.obj
C++/BrickBreakCpp/BrickBreakCpp/Debug/main.obj
C++/BrickBreakCpp/BrickBreakCpp/Debug/Menu.obj
C++/BrickBreakCpp/BrickBreakCpp/Debug/Paddle.obj
C++/BrickBreakCpp/BrickBreakCpp/Debug/RessourceLoader.obj
C++/BrickBreakCpp/BrickBreakCpp/Debug/vc142.idb
C++/BrickBreakCpp/BrickBreakCpp/Debug/vc142.pdb
C++/BrickBreakCpp/BrickBreakCpp/Debug/vcpkg.applocal.log
C++/BrickBreakCpp/BrickBreakCpp/Debug/BrickBreakCpp.tlog/BrickBreakCpp.lastbuildstate
C++/BrickBreakCpp/BrickBreakCpp/Debug/BrickBreakCpp.tlog/BrickBreakCpp.write.1u.tlog
C++/BrickBreakCpp/BrickBreakCpp/Debug/BrickBreakCpp.tlog/CL.command.1.tlog
C++/BrickBreakCpp/BrickBreakCpp/Debug/BrickBreakCpp.tlog/CL.read.1.tlog
C++/BrickBreakCpp/BrickBreakCpp/Debug/BrickBreakCpp.tlog/CL.write.1.tlog
C++/BrickBreakCpp/BrickBreakCpp/Debug/BrickBreakCpp.tlog/link.command.1.tlog
C++/BrickBreakCpp/BrickBreakCpp/Debug/BrickBreakCpp.tlog/link.read.1.tlog
C++/BrickBreakCpp/BrickBreakCpp/Debug/BrickBreakCpp.tlog/link.write.1.tlog
C++/BrickBreakCpp/BrickBreakCpp/Debug/BrickBreakCpp.tlog/rc.command.1.tlog
C++/BrickBreakCpp/BrickBreakCpp/Debug/BrickBreakCpp.tlog/rc.read.1.tlog
C++/BrickBreakCpp/BrickBreakCpp/Debug/BrickBreakCpp.tlog/rc.write.1.tlog
C++/BrickBreakCpp/Debug/BrickBreakCpp.exe
C++/BrickBreakCpp/Debug/BrickBreakCpp.ilk
C++/BrickBreakCpp/Debug/BrickBreakCpp.pdb
C++/BrickBreakCpp/Debug/brotlicommon.dll
C++/BrickBreakCpp/Debug/brotlidec.dll
C++/BrickBreakCpp/Debug/bz2d.dll
C++/BrickBreakCpp/Debug/freetyped.dll
C++/BrickBreakCpp/Debug/libpng16d.dll
C++/BrickBreakCpp/Debug/sfml-graphics-d-2.dll
C++/BrickBreakCpp/Debug/sfml-system-d-2.dll
C++/BrickBreakCpp/Debug/sfml-window-d-2.dll
C++/BrickBreakCpp/Debug/zlibd1.dll
C++/BrickBreakCpp/Debug/data/Chopsic.ttf
C++/BrickBreakCpp/Debug/png/ball.png
C++/BrickBreakCpp/Debug/png/bg.png
C++/BrickBreakCpp/Debug/png/blank_m.png
C++/BrickBreakCpp/Debug/png/brick01b1.png
C++/BrickBreakCpp/Debug/png/brick01db1.png
C++/BrickBreakCpp/Debug/png/brick01g1.png
C++/BrickBreakCpp/Debug/png/brick01gr1.png
C++/BrickBreakCpp/Debug/png/brick01o1.png
C++/BrickBreakCpp/Debug/png/brick01r1.png
C++/BrickBreakCpp/Debug/png/brick01v1.png
C++/BrickBreakCpp/Debug/png/brick01y1.png
C++/BrickBreakCpp/Debug/png/buttondn.png
C++/BrickBreakCpp/Debug/png/buttonEXITdn.png
C++/BrickBreakCpp/Debug/png/buttonEXITup.png
C++/BrickBreakCpp/Debug/png/buttonOPTIONSdn.png
C++/BrickBreakCpp/Debug/png/buttonOPTIONSup.png
C++/BrickBreakCpp/Debug/png/buttonPLAYdn.png
C++/BrickBreakCpp/Debug/png/buttonPLAYup.png
C++/BrickBreakCpp/Debug/png/buttonup.png
C++/BrickBreakCpp/Debug/png/life.png
C++/BrickBreakCpp/Debug/png/main_m.png
C++/BrickBreakCpp/Debug/png/pad.png
C++/BrickBreakCpp/Debug/png/pad2.png
C++/BrickBreakCpp/Debug/png/pad3.png
C++/BrickBreakCpp/Debug/png/pad4.png
C++/BrickBreakCpp/Debug/png/part01cy.png
C++/BrickBreakCpp/Debug/png/part01r.png
C++/BrickBreakCpp/Debug/png/pow_xray.png
C++/BrickBreakCpp/Debug/png/select.png
C++/BrickBreakCpp/BrickBreakCpp/Debug/life.obj
C++/BrickBreakCpp/BrickBreakCpp/Debug/State.obj
C++/BrickBreakCpp/BrickBreakCpp/Debug/Game.obj
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/65522fee46c93973/GAME.ipch
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/ipch/AutoPCH/c0560cb377ec2658/STATE.ipch
C++/BrickBreakCpp/BrickBreakCpp/Debug/life.obj
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/Browse.VC.db-shm
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/Browse.VC.db-wal
C++/BrickBreakCpp/.vs/BrickBreakCpp/v16/Browse.VC.opendb
